@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100;
  @apply dark:bg-gray-900;
}

html {
  @apply dark:text-gray-200;
}

.zoomable {
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}
